.week-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  min-width: 1200px;
  overflow: auto hidden;
  padding: 16px;
  position: relative;
  width: 100%;
}

.date-container {
  min-height: 95vh;
}

.week-day {
  color: #6A7988;
  font-size: 1rem;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 9px;
  text-transform: uppercase;
}


.workout-container {
  background: #F3F5F8;
  border-radius: 6px;
  height: 100%;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding: 7px 10px;
}

.workout-date {
  font-size: 1.1rem;
  line-height: 15px;
  color: #728096;
  font-weight: 600;
  margin-bottom: 5px;
}

.workout-date.today {
  color: #5A57CB;
  font-weight: bold;
}
